#main {
  font-family: Verdana, Geneva, sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

q {
  font-style: italic;
  font-weight: bold;
  color: grey;
}

.content {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  align-items: center;
}

ul {
  padding: 0 10% 0 10%;
  font-size: 1.15em;
  text-align: justify;
}

li {
  margin: 1em 0;
}

.quote {
  font-style: italic;
}